<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>832941439993-g1d5onng2airgv8rn8g02gqv5p4031l4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.832941439993-g1d5onng2airgv8rn8g02gqv5p4031l4</string>
	<key>API_KEY</key>
	<string>AIzaSyCr7qCNp_Oc6ySboINXGhiBT2BYa3SZpio</string>
	<key>GCM_SENDER_ID</key>
	<string>832941439993</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.instaClone</string>
	<key>PROJECT_ID</key>
	<string>insta-clone-57141</string>
	<key>STORAGE_BUCKET</key>
	<string>insta-clone-57141.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:832941439993:ios:75aefba82979d77b919b28</string>
	<key>DATABASE_URL</key>
	<string>https://insta-clone-57141.firebaseio.com</string>
</dict>
</plist>